@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

body { font-size: 13px; font-family: sans-serif; line-height: 1.231; *font-size: small; }

select, input, textarea, button { font: 99% sans-serif; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea { color: #444444; }

html { overflow-y: scroll; }

a, a:active, a:visited { color: #607890; }

a:hover { color: #003366; }

ul, ol { margin-left: 1.8em; }

ol { list-style-type: decimal; }

td, td img { vertical-align: top; }

sub { vertical-align: sub; font-size: smaller; }

sup { vertical-align: super; font-size: smaller; }

textarea { overflow: auto; }

a:hover, a:active { outline: none; }

pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

input[type="radio"] { vertical-align: text-bottom; }

input[type="checkbox"] { vertical-align: bottom; }

.ie7 input[type="checkbox"] { vertical-align: baseline; }

.ie6 input { vertical-align: text-bottom; }

label, input[type=button], input[type=submit], button { cursor: pointer; }

button, input, select, textarea { margin: 0; }

::-moz-selection { background: #ff5e99; color: white; text-shadow: none; }

::selection { background: #ff5e99; color: white; text-shadow: none; }

a:link { -webkit-tap-highlight-color: #ff5e99; }

button { width: auto; overflow: visible; }

.ie7 img { -ms-interpolation-mode: bicubic; }

.ie6 legend, .ie7 legend { margin-left: -7px; }

.ir { text-indent: -119988px; overflow: hidden; text-align: left; direction: ltr; background-repeat: no-repeat; }

.hidden { display: none; visibility: hidden; }

.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }

.clearfix { *zoom: 1; }
.clearfix:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }

@media print { * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

body { line-height: 1; color: black; background: white; }

ol, ul { list-style: none; }

table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

a img { border: none; }

.contents_centered { position: relative; }
.contents_centered > * { margin: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

.ellipsis { white-space: nowrap; overflow: hidden; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; text-overflow: ellipsis; -moz-binding: url('/stylesheets/xml/ellipsis.xml#ellipsis'); }

/* Generic context menu styles */
.context_menu { position: absolute; width: 120px; z-index: 99999; border: solid 1px #cccccc; background: #eeeeee; padding: 0px; margin: 0px; display: none; }
.context_menu a { color: #333333; text-decoration: none; display: block; line-height: 20px; height: 20px; background-position: 6px center; background-repeat: no-repeat; outline: none; padding: 1px 5px; padding-left: 28px; }
.context_menu li { list-style: none; padding: 0px; margin: 0px; }
.context_menu li.hover { color: white; background-color: #3399ff; }
.context_menu li.disabled { color: #aaaaaa; cursor: default; }
.context_menu li.hover.disabled { background-color: transparent; }
.context_menu li.separator { border-top: solid 1px #cccccc; }
.context_menu li a[href="#delete"] { background-image: url(/images/icons/delete.png); }

.contents_centered { position: relative; }
.contents_centered > * { margin: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

.ellipsis { white-space: nowrap; overflow: hidden; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; text-overflow: ellipsis; -moz-binding: url('/stylesheets/xml/ellipsis.xml#ellipsis'); }

#tabs .animation_editor { padding-left: 6px; padding-top: 8px; }
#tabs nav.right { padding-right: 6px; padding-top: 8px; }
#tabs nav.right .save { width: 142px; }
#tabs nav.bottom { bottom: 8px; left: 6px; padding-right: 180px; }
#tabs .preview_box { width: 140px; height: 140px; bottom: 16px; right: 20px; }
#tabs .preview_box .animation_speed { top: -23px; }
#tabs .preview_box .animation_speed .speed { margin-bottom: -2px; }

.light .animation_editor .frame_sprites, .light .animation_editor .animations { background-color: #b2e2ff; }
.light .animation_editor .demo { background-color: white; border: 4px dotted #cccccc; }
.animation_editor .x, .animation_editor .duplicate { width: 24px; height: 29px; cursor: pointer; display: inline-block; right: -15px; position: absolute; }
.animation_editor .x { background-image: url(/images/x.png); top: -12px; }
.animation_editor .animation .cover { position: relative; }
.animation_editor .animation .cover > * { margin: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.animation_editor .animation .cover .x { background-image: url(/images/x.png); position: absolute; bottom: 82px; left: 78px; }
.animation_editor .animation .locked { background: url(/images/icons/lock.png) no-repeat left top; }
.animation_editor .duplicate { background-image: url(/images/duplicate_layer.png); bottom: 30px; }
.animation_editor .lock { width: 16px; height: 16px; opacity: 0.5; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); background-image: url(/images/icons/lock.png); cursor: pointer; left: 2px; position: absolute; top: 3px; }
.animation_editor .hflip, .animation_editor .vflip { width: 16px; height: 16px; cursor: pointer; }
.animation_editor .hflip { background-image: url(/images/left_right.png); bottom: 0; position: absolute; }
.animation_editor .vflip { width: 16px; height: 16px; background-image: url(/images/up_down.png); }
.animation_editor .goto { position: absolute; right: 180px; top: 3px; }
.animation_editor .goto input { width: 115px; }

.hitcircle_editor nav.top { left: 0; position: relative; }
.hitcircle_editor canvas { display: block; }

.animation_editor { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none; height: 100%; position: relative; }
.animation_editor .flipped_horizontal { -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: "FlipH"; }
.animation_editor .flipped_vertical { -moz-transform: scaleY(-1); -o-transform: scaleY(-1); -webkit-transform: scaleY(-1); transform: scaleY(-1); filter: FlipV; -ms-filter: "FlipV"; }
.animation_editor .flipped_horizontal.flipped_vertical { -moz-transform: scaleX(-1) scaleY(-1); -o-transform: scaleX(-1) scaleY(-1); -webkit-transform: scaleX(-1) scaleY(-1); transform: scaleX(-1) scaleY(-1); filter: FlipH FlipV; -ms-filter: "FlipH" "FlipV"; }
.animation_editor .sprite_container { -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; width: 72px; height: 72px; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; background-color: white; position: relative; }
.animation_editor .sprite_container { *display: inline; }
.animation_editor img { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; max-width: 64px; max-height: 64px; vertical-align: middle; }
.animation_editor img { *display: inline; }
.animation_editor section { padding-bottom: 175px; padding-right: 175px; }
.animation_editor section .user_sprites { -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; width: 100%; height: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; background-color: #001c2f; overflow: auto; padding: 20px; }
.light .animation_editor section .user_sprites { background-color: #b2e2ff; }
.animation_editor section .sprite_container { position: relative; cursor: move; margin-bottom: 7px; margin-right: 7px; overflow: hidden; }
.light .animation_editor section .sprite_container { -moz-box-shadow: rgba(140, 140, 140, 0.5) 1px 1px 3px 0; -webkit-box-shadow: rgba(140, 140, 140, 0.5) 1px 1px 3px 0; -o-box-shadow: rgba(140, 140, 140, 0.5) 1px 1px 3px 0; box-shadow: rgba(140, 140, 140, 0.5) 1px 1px 3px 0; }
.animation_editor section .sprite_container > * { margin: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.animation_editor section .sprite_container:hover { background-color: #fff6bf; }
.light .light .animation_editor section .sprite_container { -moz-box-shadow: rgba(140, 140, 140, 0.5) 1px 1px 3px 0; -webkit-box-shadow: rgba(140, 140, 140, 0.5) 1px 1px 3px 0; -o-box-shadow: rgba(140, 140, 140, 0.5) 1px 1px 3px 0; box-shadow: rgba(140, 140, 140, 0.5) 1px 1px 3px 0; }
.animation_editor nav.bottom { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; padding-right: 175px; }
.animation_editor .frame_sprites { -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; background-color: #001c2f; border: 2px solid transparent; min-height: 150px; overflow-y: hidden; padding: 20px; padding-bottom: 0; padding-top: 35px; white-space: nowrap; }
.animation_editor .frame_sprites.highlight { border: 2px solid #1084ce; }
.animation_editor .frame_sprites .demo { -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; width: 96px; height: 96px; -moz-box-shadow: #000f1a 2px 2px 15px 0; -webkit-box-shadow: #000f1a 2px 2px 15px 0; -o-box-shadow: #000f1a 2px 2px 15px 0; box-shadow: #000f1a 2px 2px 15px 0; background-color: #cccccc; border: 4px dotted #aaaaaa; }
.light .animation_editor .frame_sprites .demo { -moz-box-shadow: #8c8c8c 3px 3px 15px 0; -webkit-box-shadow: #8c8c8c 3px 3px 15px 0; -o-box-shadow: #8c8c8c 3px 3px 15px 0; box-shadow: #8c8c8c 3px 3px 15px 0; }
.animation_editor .frame_sprites .sprite_container { width: 96px; height: 96px; -moz-box-shadow: #000f1a 2px 2px 15px 0; -webkit-box-shadow: #000f1a 2px 2px 15px 0; -o-box-shadow: #000f1a 2px 2px 15px 0; box-shadow: #000f1a 2px 2px 15px 0; border: 4px solid transparent; margin-right: 20px; }
.light .animation_editor .frame_sprites .sprite_container { -moz-box-shadow: #8c8c8c 3px 3px 15px 0; -webkit-box-shadow: #8c8c8c 3px 3px 15px 0; -o-box-shadow: #8c8c8c 3px 3px 15px 0; box-shadow: #8c8c8c 3px 3px 15px 0; }
.animation_editor .frame_sprites .sprite_container:hover, .animation_editor .frame_sprites .sprite_container:highlight { background-color: #fff6bf; }
.animation_editor .frame_sprites .sprite_container.selected { border: 4px solid #1084ce; }
.animation_editor .frame_sprites .sprite_container .tags { position: absolute; top: -37px; }
.animation_editor .frame_sprites .sprite_container img { cursor: move; margin: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.animation_editor .frame_sprites p { position: absolute; bottom: 63px; left: 131px; margin: 0; }
.animation_editor nav.right { width: 150px; height: 100%; padding-bottom: 212px; text-align: center; }
.animation_editor nav.right h3 { margin: 0; }
.animation_editor nav.right .save { width: 150px; height: 30px; font-size: 130%; margin-bottom: 0.5em; margin-top: 0; }
.animation_editor nav.right .animations { -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; height: 100%; margin-bottom: 15px; text-align: center; overflow-y: auto; padding: 10px; }
.animation_editor nav.right .animations .speed, .animation_editor nav.right .animations .complete, .animation_editor nav.right .animations .sprites { display: none; }
.animation_editor nav.right .animations .name { margin-bottom: 4px; margin-left: auto; margin-right: auto; width: 72px; }
.animation_editor nav.right .animations .animation { -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; width: 96px; height: 96px; background-color: white; margin-left: auto; margin-right: auto; margin-bottom: 4px; position: relative; }
.animation_editor nav.right .animations .cover { -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; width: 96px; height: 96px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
.animation_editor nav.right .animations .cover.active { border: 3px solid #1084ce; }
.animation_editor .preview_box { -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; width: 150px; height: 150px; -moz-box-shadow: #333333 1px 1px 3px 0; -webkit-box-shadow: #333333 1px 1px 3px 0; -o-box-shadow: #333333 1px 1px 3px 0; box-shadow: #333333 1px 1px 3px 0; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; border-top: 1px solid #eeeeee; border-left: 1px solid #eeeeee; position: absolute; bottom: 0; right: 0; z-index: 101; }
.animation_editor .preview_box { *display: inline; }
.light .animation_editor .preview_box { -moz-box-shadow: rgba(140, 140, 140, 0.5) 1px 1px 3px 0; -webkit-box-shadow: rgba(140, 140, 140, 0.5) 1px 1px 3px 0; -o-box-shadow: rgba(140, 140, 140, 0.5) 1px 1px 3px 0; box-shadow: rgba(140, 140, 140, 0.5) 1px 1px 3px 0; }
.animation_editor .preview_box .animation_speed { position: absolute; left: 28px; top: -18px; }
.animation_editor .preview_box .speed { height: 10px; }
.animation_editor .preview_box input { margin-bottom: 5px; width: 30px; }
.animation_editor .preview_box .sprite_container { width: 150px; height: 150px; margin: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.animation_editor .preview_box .sprites { width: 150px; height: 150px; }
.animation_editor .preview_box img { display: none; margin: auto; max-height: 125px; max-width: 125px; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.animation_editor .preview_box img.active { display: block; }
.animation_editor .preview_box .play, .animation_editor .preview_box .stop { width: 24px; height: 29px; position: absolute; bottom: -16px; }
.animation_editor .preview_box .play { background-image: url(/images/play.png); right: -10px; }
.animation_editor .preview_box .play.pause { background-image: url(/images/pause.png); }
.animation_editor .preview_box .stop { background-image: url(/images/stop.png); left: -10px; }

button, a.button { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; margin: 0.7em 0.5em 0.7em 0; border-width: 1px; border-style: solid; font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif; font-size: 100%; line-height: 130%; font-weight: bold; text-decoration: none; cursor: pointer; width: auto; overflow: visible; padding: 4px 10px 3px 7px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fefeff), color-stop(100%, #a0d5f8)); background-image: -moz-linear-gradient(top, #fefeff 0%, #a0d5f8 100%); background-image: linear-gradient(top, #fefeff 0%, #a0d5f8 100%); border-color: #b8e0fa; color: #0c639b; }
button, a.button { *display: inline; }
button img, a.button img { margin: 0 3px -3px 0 !important; padding: 0; border: none; width: 16px; height: 16px; float: none; }
button[type], a.button[type] { padding: 4px 10px 4px 7px; line-height: 17px; }
*:first-child + html button[type], *:first-child + html a.button[type] { padding: 4px 10px 3px 7px; }
button:hover, a.button:hover { background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fefeff), color-stop(100%, #88caf6)); background-image: -moz-linear-gradient(top, #fefeff 0%, #88caf6 100%); background-image: linear-gradient(top, #fefeff 0%, #88caf6 100%); text-decoration: none; }
button:visited, a.button:visited { color: #0c639b; }
button.complement, a.button.complement { background-color: #ce5a10; border-color: #7f4119 #6f3109 #6f3109 #7f4119; color: white; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f0813b), color-stop(100%, #b6500e)); background-image: -moz-linear-gradient(top, #f0813b 0%, #b6500e 100%); background-image: linear-gradient(top, #f0813b 0%, #b6500e 100%); text-shadow: #110701 0 0 2px; }
button.complement:hover, a.button.complement:hover { background-color: #ce5a10; border-color: #c6601e #b6500e #b6500e #c6601e; color: white; }
button.complement:active, button.complement.active, a.button.complement:active, a.button.complement.active { background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #9f450c), color-stop(33%, #ce5a10), color-stop(100%, #f0813b)); background-image: -moz-linear-gradient(top, #9f450c 0%, #ce5a10 33%, #f0813b 100%); background-image: linear-gradient(top, #9f450c 0%, #ce5a10 33%, #f0813b 100%); }
button:active, button.active, a.button:active, a.button.active { text-shadow: rgba(0, 0, 0, 0.25) 0 1px 0; background: #5c9ccc; color: white; }
button[disabled], a.button[disabled] { background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fefeff), color-stop(33%, #f5fcff), color-stop(100%, #b2e2ff)); background-image: -moz-linear-gradient(top, #fefeff 0%, #f5fcff 33%, #b2e2ff 100%); background-image: linear-gradient(top, #fefeff 0%, #f5fcff 33%, #b2e2ff 100%); border-color: #f5fcff; color: #aaaaaa; cursor: default; }
.button_group > button, .button_group > a.button { -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; margin: 0 -1px 0 0; }
.button_group > button:first-child, .button_group > a.button:first-child { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -o-border-top-left-radius: 4px; -ms-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -o-border-bottom-left-radius: 4px; -ms-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.button_group > button:last-child, .button_group > a.button:last-child { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -o-border-top-right-radius: 4px; -ms-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -o-border-bottom-right-radius: 4px; -ms-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; margin: 0; }

.button_group { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; margin-right: 0.5em; }
.button_group { *display: inline; }

button.full { width: 100%; height: 40px; display: block; font-size: 170%; margin: 0; }

.contents_centered { position: relative; }
.contents_centered > * { margin: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

.ellipsis { white-space: nowrap; overflow: hidden; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; text-overflow: ellipsis; -moz-binding: url('/stylesheets/xml/ellipsis.xml#ellipsis'); }

.left_content { border-right: 1px dashed #aaaaaa; display: inline-block; width: 400px; }

#chatZone { width: 560px; height: 310px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; -moz-user-select: text; -khtml-user-select: text; -webkit-user-select: text; -o-user-select: text; user-select: text; -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; box-shadow: inset 0 2px rgba(255, 255, 255, 0.05), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 5px 5px rgba(255, 255, 255, 0.3), inset 0 -1px 5px rgba(255, 255, 255, 0.3); -moz-box-shadow: inset 0 2px rgba(255, 255, 255, 0.05), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 5px 5px rgba(255, 255, 255, 0.3), inset 0 -1px 5px rgba(255, 255, 255, 0.3); -o-box-shadow: inset 0 2px rgba(255, 255, 255, 0.05), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 5px 5px rgba(255, 255, 255, 0.3), inset 0 -1px 5px rgba(255, 255, 255, 0.3); -webkit-box-shadow: inset 0 2px rgba(255, 255, 255, 0.05), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 5px 5px rgba(255, 255, 255, 0.3), inset 0 -1px 5px rgba(255, 255, 255, 0.3); background-color: rgba(0, 28, 47, 0.95); color: white; display: none; padding: 10px; position: absolute; left: 0; top: 150px; z-index: 200; }
#chatZone ::-webkit-scrollbar-corner, #chatZone ::-webkit-resizer { width: 0; height: 0; background-color: transparent; }
#chatZone ::-webkit-scrollbar { width: 16px; height: 16px; }
#chatZone ::-webkit-scrollbar-button:start:decrement, #chatZone ::-webkit-scrollbar-button:end:increment { width: 2px; height: 2px; display: block; background-color: transparent; }
#chatZone ::-webkit-scrollbar-track-piece:vertical { -webkit-border-image: url(/images/scroll/vertical_track.png) 16 0 16 0; border-color: transparent; border-width: 16px 0 0 0; }
#chatZone ::-webkit-scrollbar-track-piece:vertical:decrement { border-width: 16px 0 0 0; }
#chatZone ::-webkit-scrollbar-track-piece:vertical:increment { border-width: 0 0 16px 0; }
#chatZone ::-webkit-scrollbar-track-piece:horizontal:decrement, #chatZone ::-webkit-scrollbar-track-piece:horizontal:increment { -webkit-border-image: url(/images/scroll/horizontal_track.png) 0 16 0 16; border-color: transparent; }
#chatZone ::-webkit-scrollbar-track-piece:horizontal:decrement { border-width: 0 0 0 16px; }
#chatZone ::-webkit-scrollbar-track-piece:horizontal:increment { border-width: 0 16px 0 0; }
#chatZone ::-webkit-scrollbar-corner { display: none; }
#chatZone.light ::-webkit-scrollbar-track-piece:horizontal { -webkit-border-image: url(/images/scroll/horizontal_track_light.png) 0 16 0 16; }
#chatZone.light ::-webkit-scrollbar-track-piece:vertical { -webkit-border-image: url(/images/scroll/vertical_track_light.png) 16 0 16 0; }
#chatZone ::-webkit-scrollbar-thumb:vertical { -webkit-border-image: url(/images/scroll/vertical_thumb.png) 16 0 16 0; border-color: transparent; border-width: 16px 0; min-height: 20px; }
#chatZone ::-webkit-scrollbar-thumb:horizontal { -webkit-border-image: url(/images/scroll/horizontal_thumb.png) 0 16 0 16; border-color: transparent; border-width: 0 16px; min-width: 20px; }
.light #chatZone { box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 5px 10px rgba(255, 255, 255, 0.25), inset 0 -5px 10px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 5px 10px rgba(255, 255, 255, 0.25), inset 0 -5px 10px rgba(0, 0, 0, 0.3); -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 5px 10px rgba(255, 255, 255, 0.25), inset 0 -5px 10px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 5px 10px rgba(255, 255, 255, 0.25), inset 0 -5px 10px rgba(0, 0, 0, 0.3); }
.light #chatZone { background-color: rgba(178, 226, 255, 0.95); color: black; }
#chatZone h3 { -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none; cursor: move; }
#chatZone #send { -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; margin: 0 0 0 -2px; font-weight: bold; padding-left: 8px; padding-right: 8px; vertical-align: top; height: 24px; }
#chatZone .drag_drop_placeholder { position: absolute; top: 30%; left: 0; right: 0; margin: auto; width: 250px; }
#chatZone p.big { font-size: 24px; font-weight: bold; position: absolute; margin: auto; text-align: center; width: 250px; }
#chatZone p.small { position: absolute; top: 50px; bottom: 0; left: 0; right: 0; margin: auto; width: 125px; }

#chats { display: inline-block; font: 13px Helvetica, Arial; height: 240px; list-style: none; overflow-y: auto; overflow-x: hidden; width: 400px; word-wrap: break-word; }
#chats .name { font-weight: bold; }
#chats .time { font-style: italic; font-size: 8pt; color: #888888; }
#chats li { padding: 5px; margin: 0; }

.users_wrapper { display: inline-block; max-height: 300px; overflow-y: auto; overflow-x: hidden; vertical-align: top; width: 155px; }

#active_users { list-style: none; display: inline-block; margin-left: 5px; }
#active_users li.header { font-weight: bold; width: 137px; text-align: center; margin-bottom: 5px; }

#chat_body { width: 338px; height: 24px; display: inline; margin-bottom: 5px; }

.CodeMirror-line-numbers { background-color: transparent; border-right: 1px dashed #dddddd; font-family: monospace; font-size: 13px; line-height: 16px; margin: 5px 0px; padding-right: 2px; text-align: right; }

.comment { margin-bottom: 1.5em; }
.comment .avatar { float: left; margin: 0 0.5em 0.5em 0; }
.comment p.attribution { font-size: 0.8em; margin: 0px; }
.comment p.attribution .time, .comment p.attribution .time a { color: #999999; }

form.new_comment textarea { display: block; height: 80px; }

.comments_area { background-color: #001c2f; }
.light .comments_area { background-color: #b2e2ff; }

/* Styles common to all editors and editor components (pixel, animation, etc.) */
/* TODO: Clean up and remove a bunch of this */
#fullscreen { height: 100%; padding: 3em; }
#fullscreen nav.bottom { position: absolute; bottom: 0; left: 0; width: 100%; }
#fullscreen nav.left { left: 0; position: absolute; top: 0; }
#fullscreen nav.right { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; right: 0; position: absolute; top: 0; }
#fullscreen section { width: 100%; height: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
#fullscreen section .screen { width: 100%; height: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; margin: auto; overflow: auto; position: relative; }

/* This is the real base editor style */
.editor { width: 100%; height: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; padding: 6px; padding-top: 8px; }
.editor .content { width: 100%; height: 100%; position: relative; }
.editor .module { padding: 10px; position: absolute; }
.editor .module.bottom { bottom: 0; }
.editor .module.left { left: 0; top: 0; }
.editor .module.right { right: 0; top: 0; }
.editor .module.top { top: 0; }
.editor button { font-size: 13px; }
.editor .screen, .editor .viewport { position: relative; background-color: #222222; }
.editor .screen > *, .editor .viewport > * { margin: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.light .editor .screen, .light .editor .viewport { background-color: #cccccc; }

.module { -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; -moz-box-shadow: #333333 1px 1px 3px 0; -webkit-box-shadow: #333333 1px 1px 3px 0; -o-box-shadow: #333333 1px 1px 3px 0; box-shadow: #333333 1px 1px 3px 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; background-color: #001c2f; border: 1px solid #002b49; border-bottom: none; border-right: none; }
.light .module { -moz-box-shadow: rgba(140, 140, 140, 0.5) 1px 1px 3px 0; -webkit-box-shadow: rgba(140, 140, 140, 0.5) 1px 1px 3px 0; -o-box-shadow: rgba(140, 140, 140, 0.5) 1px 1px 3px 0; box-shadow: rgba(140, 140, 140, 0.5) 1px 1px 3px 0; background-color: #b2e2ff; border: 1px solid #ccecff; border-bottom: none; border-right: none; }

table.nested { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; padding-left: 1em; }

table.properties input, table.properties textarea { margin: 0; }
table.properties td { padding: 3px 1px; }
table.properties td:first-child { vertical-align: top; }
table.properties td img { display: block; margin: auto; }
table.properties label { margin: 0; }

.gallery { margin: auto; width: 1000px; }
.gallery nav { overflow: hidden; *zoom: 1; margin-bottom: 0.5em; }
.gallery nav .filters { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; float: right; }
.gallery nav .filters { *display: inline; }
.gallery nav .filters a { margin: 0; }
.gallery nav .pagination { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; float: left; }
.gallery nav .pagination { *display: inline; }
.gallery .project, .gallery .sound, .gallery .user, .gallery .animation { width: 245px; height: 172px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; -moz-box-shadow: #333333 1px 1px 3px 0; -webkit-box-shadow: #333333 1px 1px 3px 0; -o-box-shadow: #333333 1px 1px 3px 0; box-shadow: #333333 1px 1px 3px 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; background-color: #001c2f; border: 1px solid #002b49; border-bottom: none; border-right: none; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; margin-bottom: 0.5em; margin-right: 0.5em; overflow: hidden; padding: 1em; position: relative; }
.light .gallery .project, .light .gallery .sound, .light .gallery .user, .light .gallery .animation { -moz-box-shadow: rgba(140, 140, 140, 0.5) 1px 1px 3px 0; -webkit-box-shadow: rgba(140, 140, 140, 0.5) 1px 1px 3px 0; -o-box-shadow: rgba(140, 140, 140, 0.5) 1px 1px 3px 0; box-shadow: rgba(140, 140, 140, 0.5) 1px 1px 3px 0; background-color: #b2e2ff; border: 1px solid #ccecff; border-bottom: none; border-right: none; }
.gallery .project, .gallery .sound, .gallery .user, .gallery .animation { *display: inline; }
.gallery .project:nth-child(4n), .gallery .sound:nth-child(4n), .gallery .user:nth-child(4n), .gallery .animation:nth-child(4n) { margin-right: 0; }
.gallery .project .gloss, .gallery .sound .gloss, .gallery .user .gloss, .gallery .animation .gloss { width: 96px; height: 48px; border-top-right-radius: 38px 38px; border-top-left-radius: 38px 38px; border-bottom-right-radius: 120px 20px; border-bottom-left-radius: 100px 20px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.2))); -webkit-box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.6); display: inline-block; position: absolute; left: 1em; }
.gallery .project .thumb, .gallery .sound .thumb, .gallery .user .thumb, .gallery .animation .thumb { float: left; margin-bottom: 1em; margin-right: 1em; }
.gallery .project .thumb.fancy img, .gallery .sound .thumb.fancy img, .gallery .user .thumb.fancy img, .gallery .animation .thumb.fancy img { -moz-border-radius: 17px; -webkit-border-radius: 17px; -o-border-radius: 17px; -ms-border-radius: 17px; -khtml-border-radius: 17px; border-radius: 17px; -moz-box-shadow: #000f1a 0 4px 6px 0; -webkit-box-shadow: #000f1a 0 4px 6px 0; -o-box-shadow: #000f1a 0 4px 6px 0; box-shadow: #000f1a 0 4px 6px 0; }
.light .gallery .project .thumb.fancy img, .light .gallery .sound .thumb.fancy img, .light .gallery .user .thumb.fancy img, .light .gallery .animation .thumb.fancy img { -moz-box-shadow: #8c8c8c 0 4px 6px 0; -webkit-box-shadow: #8c8c8c 0 4px 6px 0; -o-box-shadow: #8c8c8c 0 4px 6px 0; box-shadow: #8c8c8c 0 4px 6px 0; }
.gallery .project .title a, .gallery .sound .title a, .gallery .user .title a, .gallery .animation .title a { color: #b0d6ee; text-decoration: none; white-space: nowrap; }
.light .gallery .project .title a, .light .gallery .sound .title a, .light .gallery .user .title a, .light .gallery .animation .title a { color: #084267; }
.gallery .sound .title_container { white-space: nowrap; }
.gallery .sound h2 { display: inline-block; }
.gallery .sound .author { color: #888888; }
.gallery .sound .sound_preview { -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; width: 100%; height: 110px; position: relative; margin: auto; }
.gallery .sound .sound_preview > * { margin: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.gallery .sound .sound_preview #play:hover { background: url(/images/play.png) no-repeat center center; cursor: pointer; }
.gallery .sound .sound_preview img { border: none; }
.gallery .animation .title_container { height: 45px; white-space: nowrap; }
.gallery .animation h2 { display: inline-block; }
.gallery .animation .author { color: #888888; }
.gallery .animation .sprite_container { -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; width: 64px; height: 64px; position: relative; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; background-color: white; margin-right: 3px; margin-bottom: 15px; }
.gallery .animation .sprite_container > * { margin: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.gallery .animation .sprite_container { *display: inline; }
.gallery .animation .sprite_container img { max-height: 60px; max-width: 60px; }
.gallery .animation .sprite_container .name { text-align: center; top: -17px; white-space: nowrap; }

.contents_centered { position: relative; }
.contents_centered > * { margin: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

.ellipsis { white-space: nowrap; overflow: hidden; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; text-overflow: ellipsis; -moz-binding: url('/stylesheets/xml/ellipsis.xml#ellipsis'); }

#hotkeysModal .keyboard_mappings, #game_keys_modal .keyboard_mappings { margin-bottom: 1em; }
#hotkeysModal .left_col, #game_keys_modal .left_col { display: inline-block; margin-right: 1em; text-align: right; width: 105px; }
#hotkeysModal dl, #game_keys_modal dl { min-width: 350px; }
#hotkeysModal dt, #game_keys_modal dt { -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; text-shadow: #cccccc 1px 1px 0; background: #eeeeee; color: #333333; display: inline-block; min-width: 10px; padding: 2px 8px; text-align: center; }
#hotkeysModal dt em, #game_keys_modal dt em { text-shadow: #eeeeee 0 0 0; color: #888888; font-size: 10px; font-style: normal; font-weight: normal; }
#hotkeysModal dd, #game_keys_modal dd { color: #cccccc; display: inline; width: 300px; }
#hotkeysModal .rule, #game_keys_modal .rule { width: 96%; height: 0; padding: 0 10px; margin-left: -10px; clear: both; margin: 7px 0; overflow: hidden; border-bottom: 1px solid #dddddd; }

/* Copyright STRd6 2011 */
footer .content { display: none; }

body > form { -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; /* TODO: Remove the background colors from here and mix them into supplementary classes */ background-color: #001c2f; margin: auto; padding: 1.5em 2em; width: 340px; }

body.light > form { /* TODO: Remove the background colors from here and mix them into supplementary classes */ background-color: #b2e2ff; }

form a.hint img { bottom: 0; margin: auto; position: absolute; right: 7px; top: 0; }
form .field_with_errors { display: inline; }
form .field_with_errors label { color: #cd0a0a; }
form .field_with_errors input { border-color: #cd0a0a; }
form .errorExplanation { -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; background-color: #fef1ec; border: 1px solid #cd0a0a; color: #cd0a0a; margin-bottom: 1.5em; padding: 1em 1.5em; }
form .errorExplanation h2 { font-size: 150%; }

label, input, textarea { font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; font-size: 12px; letter-spacing: 0.5px; }

label { display: block; font-weight: bold; margin: 15px 0; }
label h1, label h2, label h3, label h4, label h5, label h6 { margin: 0; }
label h4, label h5, label h6 { font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; font-weight: bold; }
label.inline { margin: 0; }
label.inline h1, label.inline h2, label.inline h3, label.inline h4, label.inline h5, label.inline h6, label.inline input { display: inline; }

input[disabled] { background-color: #cccccc; }

input[type=text], input[type=password], input[type=file], textarea { -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; padding: 5px; }
input[type=text]:focus, input[type=password]:focus, input[type=file]:focus, textarea:focus { border-width: 1px; border-color: #1084ce; }

input[type=text], input[type=password], textarea { -moz-box-shadow: #888888 1px 1px 1px 0px inset; -webkit-box-shadow: #888888 1px 1px 1px 0px inset; -o-box-shadow: #888888 1px 1px 1px 0px inset; box-shadow: #888888 1px 1px 1px 0px inset; border: 1px solid #aaaaaa; display: block; width: 100%; }

input[type=radio] { margin-right: 0.5em; }

input[type=file] { color: #b0d6ee; margin-top: 0.5em; padding: 0; }
.light input[type=file] { color: #084267; }

textarea { height: 150px; }

header .blurb { display: none; }
header .bulb { width: 32px; height: 32px; background-image: url(/images/lightbulb_off.png); position: absolute; top: 5px; right: 5px; }
header .bulb.on { background-image: url(/images/lightbulb.png); }
header .login_link { position: absolute; top: 13px; right: 40px; }
header .logo { width: 68px; height: 34px; background-image: url(/images/pixie.png); margin-left: 4px; margin-top: 4px; position: absolute; top: 0; left: 0; }

/* All the headings h1 through h6... who uses h6 anyway? */
h1, h2, h3, h4, h5, h6 { font-family: "Josefin Sans", Arial, serif; font-weight: 600; letter-spacing: 0.1em; margin: 0 0 0.5em 0; }

h1 { font-size: 2.5em; }

h2 { font-size: 2em; }

h3 { font-size: 1.5em; }

/* Styles for ol, ul, li, etc. */
ol.numbered { list-style: decimal outside; margin-left: 1em; }

ul { list-style: none; }
ul.square { list-style: square inside; }
ul.disc { list-style: disc inside; }
ul.actions { margin-bottom: 1em; }
ul.actions > li { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; }
ul.actions > li { *display: inline; }
ul.actions .menu .button { margin: 0 !important; }
ul.actions .menu ul { background-color: white; border: 1px solid #666666; margin-top: -1px; position: absolute; width: 200px; z-index: 1023; }
ul.actions .menu ul li { padding-left: 5px; }
ul.actions .menu ul li:hover { background-color: #666666; color: white; }
ul.actions .menu ul li label { font-weight: normal; }
ul.actions .menu ul li input[type="checkbox"] { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; color: #666666; margin: 0; padding: 0; position: relative; vertical-align: top; }
ul.actions .menu ul li input[type="checkbox"] { *display: inline; }

html { height: 100%; overflow: auto; }

body { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; background-color: #00010d; color: #b0d6ee; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; font-size: 12px; line-height: 1.5; position: relative; /*TODO: Move .light to html */ }
body.light { background-color: #d2eeff; color: #084267; }

/* It's strange this doesn't work exactly right when put in body */
#fullscreen ::-webkit-scrollbar-corner, #fullscreen ::-webkit-resizer { width: 0; height: 0; background-color: transparent; }
#fullscreen ::-webkit-scrollbar { width: 16px; height: 16px; }
#fullscreen ::-webkit-scrollbar-button:start:decrement, #fullscreen ::-webkit-scrollbar-button:end:increment { width: 2px; height: 2px; display: block; background-color: transparent; }
#fullscreen ::-webkit-scrollbar-track-piece:vertical { -webkit-border-image: url(/images/scroll/vertical_track.png) 16 0 16 0; border-color: transparent; border-width: 16px 0 0 0; }
#fullscreen ::-webkit-scrollbar-track-piece:vertical:decrement { border-width: 16px 0 0 0; }
#fullscreen ::-webkit-scrollbar-track-piece:vertical:increment { border-width: 0 0 16px 0; }
#fullscreen ::-webkit-scrollbar-track-piece:horizontal:decrement, #fullscreen ::-webkit-scrollbar-track-piece:horizontal:increment { -webkit-border-image: url(/images/scroll/horizontal_track.png) 0 16 0 16; border-color: transparent; }
#fullscreen ::-webkit-scrollbar-track-piece:horizontal:decrement { border-width: 0 0 0 16px; }
#fullscreen ::-webkit-scrollbar-track-piece:horizontal:increment { border-width: 0 16px 0 0; }
#fullscreen ::-webkit-scrollbar-corner { display: none; }
#fullscreen.light ::-webkit-scrollbar-track-piece:horizontal { -webkit-border-image: url(/images/scroll/horizontal_track_light.png) 0 16 0 16; }
#fullscreen.light ::-webkit-scrollbar-track-piece:vertical { -webkit-border-image: url(/images/scroll/vertical_track_light.png) 16 0 16 0; }
#fullscreen ::-webkit-scrollbar-thumb:vertical { -webkit-border-image: url(/images/scroll/vertical_thumb.png) 16 0 16 0; border-color: transparent; border-width: 16px 0; min-height: 20px; }
#fullscreen ::-webkit-scrollbar-thumb:horizontal { -webkit-border-image: url(/images/scroll/horizontal_thumb.png) 0 16 0 16; border-color: transparent; border-width: 0 16px; min-width: 20px; }

a { color: #1084ce; font-weight: bold; text-decoration: none; }
a:visited { color: #1084ce; }
a:active { color: #1084ce; }
a:hover { color: #25a1ef; text-decoration: underline; }

p { margin: 1em 0; }

.left { float: left; }

.right { float: right; }

.clear { clear: both; }

#flashes { display: none; }

div.star { background-image: url(../images/icons/star.png); width: 16px; height: 16px; }

div.no-star { background-image: url(../images/icons/star_empty.png); width: 16px; height: 16px; }

.relative { position: relative; }

.round { -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }

.no_border { border: none; }

.noselect { -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none; }

.template { display: none; }

.unsupported { display: none; }

.clickable { cursor: pointer; }

nav.top { position: absolute; top: 0; left: 120px; }

.inline { display: inline; }

#simplemodal-container a.modalCloseImg { background: url(/images/x.png) no-repeat; width: 25px; height: 29px; display: inline; position: absolute; top: -13px; right: -13px; cursor: pointer; }

#simplemodal-overlay { background-color: black; cursor: wait; }

#simplemodal-container { -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; -moz-box-shadow: #333333 10px 10px 20px 0; -webkit-box-shadow: #333333 10px 10px 20px 0; -o-box-shadow: #333333 10px 10px 20px 0; box-shadow: #333333 10px 10px 20px 0; background-color: black; border: 4px solid #444444; color: white; padding: 12px; max-height: 500px; max-width: 600px; }

.modal, .modalElement { display: none; }

#registerModal a { color: white; }

#subscriptionModal .info { font-size: 1.5em; margin-bottom: 1em; }
#subscriptionModal ul { margin-left: 4em; }

.pagination { overflow: hidden; *zoom: 1; height: 23px; }
.pagination .previous_page, .pagination .next_page { font-weight: bold; }
.pagination a, .pagination span, .pagination em { -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; -moz-box-shadow: rgba(170, 170, 170, 0.3) 1px 1px 0 0; -webkit-box-shadow: rgba(170, 170, 170, 0.3) 1px 1px 0 0; -o-box-shadow: rgba(170, 170, 170, 0.3) 1px 1px 0 0; box-shadow: rgba(170, 170, 170, 0.3) 1px 1px 0 0; text-shadow: rgba(170, 170, 170, 0.5) 0px 1px 1px; background-color: white; display: block; float: left; font-weight: normal; margin-right: 3px; padding: 0.2em 0.5em; }
.pagination span.disabled { color: #aaaaaa; }
.pagination em { background: #1084ce; color: white; font-weight: bold; }
.pagination a:hover, .pagination a:focus { background-color: #fff6bf; text-decoration: none; }

.contents_centered { position: relative; }
.contents_centered > * { margin: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

.ellipsis { white-space: nowrap; overflow: hidden; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; text-overflow: ellipsis; -moz-binding: url('/stylesheets/xml/ellipsis.xml#ellipsis'); }

.sprite, .sound { width: 96px; height: 96px; display: inline-block; height: auto; position: relative; vertical-align: top; word-wrap: break-word; }
.sprite img, .sound img { border: 1px solid #aaaaaa; display: block; margin: 0.5em 0; }
.sprite .favorites, .sound .favorites { cursor: pointer; display: inline-block; }
.sprite .title a, .sound .title a { vertical-align: top; }

.tags form { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; }
.tags form { *display: inline; }
.tags form input { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; }
.tags form input { *display: inline; }
.tags form input[type=button], .tags form input[type=submit] { margin: 0; }

.tag { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; background-color: white; border: 1px solid #303030; font-weight: bold; margin-right: 5px; padding: 4px 8px; }
.tag { *display: inline; }
.tag:hover { background-color: #666666; color: white; }
.tag:hover a { color: white; }
.tag a { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; color: black; float: left; text-decoration: none; }
.tag a { *display: inline; }
.tag .remove { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; cursor: pointer; float: left; font-size: 0.8em; margin-left: 8px; padding-top: 1px; }
.tag .remove { *display: inline; }

/* Element specific styles that apply throughout the site */
#feedback { position: fixed; left: -15px; top: 50%; }
#feedback a { background-image: url(/images/feedback.png); display: block; height: 102px; width: 50px; }

#tooltip { -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; -moz-box-shadow: #333333 1px 1px 5px 0; -webkit-box-shadow: #333333 1px 1px 5px 0; -o-box-shadow: #333333 1px 1px 5px 0; box-shadow: #333333 1px 1px 5px 0; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #444444), color-stop(100%, #222222)); background-image: -moz-linear-gradient(top, #444444 0%, #222222 100%); background-image: linear-gradient(top, #444444 0%, #222222 100%); text-shadow: black 1px 1px 1px; background-color: #444444; border-left: 1px solid #595959; border-top: 1px solid #595959; color: #b0d6ee; display: none; min-width: 150px; max-width: 250px; padding: 1em; position: absolute; z-index: 10; }
#tooltip .next_tip, #tooltip .close_tip { margin-right: 0; width: 80px; }
#tooltip .icon { background-image: url(images/info.png); height: 48px; left: -12px; position: absolute; top: -12px; width: 48px; }
#tooltip .content { color: #b0d6ee; margin-left: 24px; position: relative; }
#tooltip .next { width: 22px; height: 25px; background-image: url(/images/next.png); bottom: 0; cursor: pointer; display: inline-block; margin: auto; position: absolute; right: -22px; top: 0; }
#tooltip .close_tip.x { width: 24px; height: 29px; background-image: url(/images/x.png); cursor: pointer; display: inline-block; right: -22px; position: absolute; top: -22px; }

#logo { width: 68px; height: 34px; background-image: url(/images/pixie.png); margin-left: 4px; margin-top: 4px; position: absolute; top: 0; left: 0; }

#content { width: 100%; height: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; border: none; margin: 0; padding: 0; }
#content .subnav { display: none; }

.tipsy { padding: 5px; font-size: 10px; position: absolute; z-index: 100000; }

.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }

.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

.tipsy-arrow { position: absolute; background: url("../images/tipsy.gif") no-repeat top left; width: 9px; height: 5px; }

.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }

.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }

.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }

.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }

.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }

.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }

.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }

.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }

.tag_container { min-height: 30px; border: solid 1px; background-color: white; }
.tag_container ul { margin: 0; padding: 0; }

.tag_input { -moz-box-shadow: none; -webkit-box-shadow: none; -o-box-shadow: none; box-shadow: none; border: none; height: 18px; outline: none; padding: 0px; margin: 0px; width: 80px; }

.input_container { padding: 0px; margin: 0px; }

.tag_list > li { font-size: 11px; font-family: Verdana, Arial, Georgia, Helvetica, sans-serif; list-style: none; float: left; padding: 3px; margin: 3px; position: relative; }
.tag_list > li.tag_item { border: solid 1px #7aa9e3; background-color: #bbcee4; color: #2a2f66; }
.tag_list > li.tag_item a { color: black; cursor: pointer; font-style: normal; }
.tag_list > li.tag_item a:hover { color: white; text-decoration: none; }
